extends layout

block content
  h1= title
  div
    p= `Device: ${device}`
    p= `Module: ${module}`
    p= 'Temperature:'
    p= `min = ${temperature.min}°C`
    p= `moy = ${temperature.moy}°C`
    p= `max = ${temperature.max}°C`
    p= 'Humidity:'
    p= `min = ${humidity.min}%`
    p= `moy = ${humidity.moy}%`
    p= `max = ${humidity.max}%`
